html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.mdl-button--bottom-right {
    bottom: 45px;
    padding-top: 24px;
    position: fixed;
    right: 24px;
    z-index: 998;
}

.mdl-dialog__content{
    height: 60vh;
}

.mdl-button{
    text-align: center;
}

#map {
    height: 100vh;
}

#maxlot{
    width: 100%;
    text-align:center;
}

#show-dialog{
    display: none;
}

#button_login{
    display :block;
    position : absolute;
    top: 47%;
    left: 40%;
}

